node_modules/

# macOS system files
.DS_Store


# OS trash
*.swp
*.swo
*~
.Trashes
*.tmp
*.bak

# Env files
.env.*
!.env.example
.wrangler/
bun.lock

# Local Project specifc settings
contents.md
kv_bulk.json

